.signin-section {
    padding: 30px 20px 0;
    text-align: center;
}

.signin-section .inp_initialization {
    position: relative;
}

.signin-section input[type=email],
.signin-section input[type=password],
.signin-section input[type=text],
.signin-section input[type=number] {
    width: 100%;
    height: 48px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.signin-section .inp_initialization .btn_initialization {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 48px;
    border: none;
    background: url(https://res.kurly.com/mobile/ico/2009/ico_search_del.svg) no-repeat 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}

.signin-section [name=f_password],
.btn_member {
    margin-top: 10px;
}

.signin-section .checkbox_save {
    overflow: hidden;
    padding: 10px 0 26px;
}

.signin-section .checkbox_save label:first-child {
    float: left;
    padding-left: 0;
}

.signin-section label {
    padding-left: 12px;
    font-size: 13px;
    color: #666;
    letter-spacing: -.6px;
}

.signin-section [type=checkbox] {
    margin-right: 3px;
}

.signin-section input[type=checkbox]+.ico,
.signin-section input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 2px;
    background: 0 0;
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signin-section input[type=checkbox]:checked+.ico,
.signin-section input[type=checkbox]:checked {
    border-radius: 0;
    border: 0;
    background: transparent url(https://res.kurly.com/mobile/service/common/1908/ico_checkbox_checked.png) no-repeat 0 0;
    background-size: 16px 16px;
}

.signin-section input[type=checkbox]:focus {
    box-sizing: border-box;
    padding: 0;
    outline:none;
}

.signin-section .auto_security {
    float: right;
}

.signin-section .login_search {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 0;
    text-align: center;
}

.signin-section .login_search .link {
    float: left;
    height: 40px;
    padding: 15px 6px 0;
    font-size: 13px;
    color: #666;
    letter-spacing: -.6px;
}

.signin-section .login_search .bar {
    float: left;
    width: 1px;
    height: 10px;
    margin-top: 20px;
    background-color: #666;
}
