.signup-section {
    height: 100%;
    width: 100%;
    padding-top: 56px;
    position: absolute;
    top: 0;
}

.signup-section input[type=number],
.signup-section input[type=text],
.signup-section input[type=password] {
    width: 100%;
    height: 48px;
    padding: 0 11px 1px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.signup-section #header .logo .tit {
    display: block;
    overflow: hidden;
    padding: 17px 50px 0;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.signup-section #header .link_back {
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    background: url(https://res.kurly.com/mobile/service/common/2006/ico_navi_back.svg?v=1) no-repeat 0 50%;
    background-size: 56px 56px;
}

.signup-section .checkbox_link {
    position: relative;
}

.signup-section .user_form {
    background-color: #fff;
    min-height: 100%;
    color: #333;
    line-height: 1.5;
    letter-spacing: 0;
}

.signup-section .user_reg .join_cell {
    padding: 0 20px;
}

.signup-section .user_reg .tit {
    overflow: hidden;
    padding: 18px 0 7px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}

.signup-section .user_reg .tit .ico {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #ee6a7b;
    vertical-align: top;
}

.signup-section .screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.signup-section .field_ID .desc {
    position: relative;
    padding-right: 93px;
}

.signup-section .user_reg {
    padding-bottom: 16px;
}

.signup-section .user_reg .desc {
    width: 100%;
    color: #666;
}

.signup-section .user_reg .btn.default {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
}

.signup-section .user_reg .btn {
    display: block;
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    outline: none;
}

.signup-section .field_ID .btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
}

.signup-section .reg_agree {
    border-top: 10px solid #f4f4f4;
    background-color: #fff;
}

.signup-section input[type=checkbox],
#memberjoin input[type=radio] {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0;
}

.signup-section .reg_agree .label_block.all_check {
    font-weight: 600;
}

.signup-section .user_reg label.label_block {
    display: block;
    padding: 12px 0 11px;
}

.signup-section .user_reg label {
    font-size: 16px;
    line-height: 24px;
}

.signup-section .user_reg input[type=checkbox]+.ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0;
    background: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox.svg) no-repeat 50% 50%;
    background-size: 24px 24px;
    vertical-align: -5px;
}

.signup-section .user_reg input[type=checkbox]:checked+.ico {
    background: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox_checked.svg) no-repeat 50% 50%;
    background-size: 24px 24px;
}

.signup-section .reg_agree .checkbox_link .link {
    position: absolute;
    top: 0;
    right: -20px;
    width: 40px;
    height: 40px;
    background: url(https://res.kurly.com/mobile/service/common/2007/ico_more_arrow.svg) no-repeat 100% 0;
    background-size: 40px 40px;
}

.signup-section .reg_agree .checkbox_child {
    padding-top: 12px;
}

.signup-section .reg_agree .checkbox_child .label_block {
    padding: 7px 0;
    font-size: 14px;
}

.signup-section label .extra {
    color: #999;
}

.signup-section .join_submit {
    padding: 19px 20px 0;
}

.signup-section .user_reg .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}

.user_reg .txt_guide {
    display: none;
    padding: 9px 0 0;
    margin-bottom: -1px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    clear: both;
}

.user_reg .txt_guide.on {
    display: block;
}

.signup-section .user_reg .txt_guide .txt {
    display: block;
    word-break: break-all;
    letter-spacing: -.3px;
}

.signup-section .user_reg .txt_guide .txt.good {
    color: #0f851a;
}

.signup-section .user_reg .txt_guide .txt.bad {
    color: #b3130b;
}

.signup-section .user_reg .txt_guide .txt.bad:before {
    content: '\2715';
    display: inline-block;
    padding-right: 3px;
    font-size: 12px;
    vertical-align: 0;
}

.signup-section .field_ID .txt_guide .txt:before,
.signup-section .field_PASSWORD .txt_guide .txt:before,
.signup-section .field_PASSWORD2 .txt_guide .txt:before {
    content: '\2022';
    display: inline-block;
    padding-right: 2px;
    font-size: 12px;
    vertical-align: 0;
}

.signup-section .user_reg .txt_guide .txt.good:before {
    content: '\2713';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}