.drawer-form{
    margin-bottom: 73px
}

.recipe-add-btn{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    border-top: 1px solid #f1f2f4; 
    padding: 20px; 
    background: white
}

.sub-text{
    position: absolute;
    top: 0;
    line-height: 32px;
    left: 100px;
}

.dropzone {
    width: 100%;
    height: 200px;
    margin-bottom:-1px;
    border:1px solid lightgray;
    align-items:center;
    justify-content:center;
    display:none;
}

.dropzone .recipe-image {
    width:100%;
    height:100%;
    object-fit:cover
}

.dropzone .title-image {
    z-index: 10000;
    position: relative;
    bottom: 190px;
    left: 10px;
    background: #40a9ff;
    width: 50px;
    text-align: center;
    color: white;
    display: none;
}