.site-page-header {
    border: 1px solid rgb(235, 237, 240);
  }

.dropzone.recipe-detail {
    margin-bottom: 10px;
    display: block;
}
.recipe-info{
    display: flex;
    float: right;
}
.recipe-info .recipe-info-item{
    margin-left: 6px;
}
.button-area{
    width: 100%;
    position :absolute; 
    bottom : 0; 
    left : 0; 
    right : 0; 
    border-top : 1px solid #f1f2f4; 
    padding :20px;
    background:white;
}