.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
.dropzone.recipe-detail {
    margin-bottom: 10px;
    display: block;
}
.recipe-detail-title{
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}
.recipe-info{
    display: flex;
    float: right;
}
.recipe-info .recipe-info-item{
    margin-left: 6px;
}
.button-area{
    width: 100%;
    position :absolute; 
    bottom : 0; 
    left : 0; 
    right : 0; 
    border-top : 1px solid #f1f2f4; 
    padding :20px;
    background:white;
}
.grocery-switch.ant-switch-checked{
    background-color: rgb(82, 196, 26);
}

.grocery-detail-list.reduce{
    overflow: hidden;
    height: 90px;
}