.top-bar {
    padding : 15px;
}

button.add-button{
    position: fixed;
    z-index: 999;
    bottom: 72px;
    right: 16px;
    width: 48px;
    height: 48px;
    border-color: rgb(255, 188, 66);
    background: rgb(255, 188, 66);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
}

.contents-area{
    margin: 56px 0;
}

.mgl10{
    margin-left: 10px !important
}

.mgl20{
    margin-left: 20px !important
}

.mgb10{
    margin-bottom: 10px !important
}

.mgr10 {
    margin-right : 10px !important
}

.lh32{
    line-height: 32px !important
}

.pdr10{
    padding-right: 10px !important  
}

.wd100{
    width: 100% !important
}

