.dropzone {
    width: 100%;
    height: 200px;
    margin-bottom:-1px;
    border:1px solid lightgray;
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
}

.dropzone .recipeImage {
    width:100%;
    height:100%;
    object-fit:cover
}

.dropzone .title-image {
    z-index: 10000;
    position: relative;
    bottom: 190px;
    left: 10px;
    background: #40a9ff;
    width: 50px;
    text-align: center;
    color: white;
    display: none;
}